/*tag selector*/

body {
  background-color: #49beb7;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: aliceblue;
  border-width: 5px;
  width: 35%;
}
h1 {
  color: #041f20;
  margin-top: 3px;
  margin-bottom: 3px;
}
img {
  border-radius: 100%;
}
img:hover {
  border-radius: 10%;
}
p {
  margin: 0px;
}
/*class selector*/
.bacon {
  color: #a71204;
}
.header {
  background-color: #085f63;
}
.torso {
  background-color: #632208;
  height: 45px;
  width: 200px;
  color: #d46904;
  padding-left: 9px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  margin-top: 10px;
  margin-left: 45%;
}

.feet {
  background-color: #630826;
  height: 45px;
  width: 200px;
  color: #d46904;
}
/*id selector*/

#emp {
  color: #aa5200;
}
#emp:hover {
  color: #d46904;
}

/*
h3 {
  color: #041f20;
}
*/
